# Virtual environment
venv/
env/
.env

# Python byte code
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.idea/
.vscode/
*.swp

# Logs and db
*.log
*.sqlite3

# MacOS
.DS_Store

# Media
*.mp4
*.mov
*.avi
*.jpg
*.jpeg
*.png
*.gif

# Folders
media/
downloads/
data/